# EditorConfig is awesome:
http://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings:
# A newline ending every file
# Use 4 spaces as indentation
[*]
insert_final_newline = true
indent_style = space
indent_size = 4
end_of_line = lf

[*.{fs,fsi,fsx,config}]
# https://fsprojects.github.io/fantomas/docs/end-users/Configuration.html
charset = utf-8
[*.{fs,fsx}]
max_line_length = 180
fsharp_record_multiline_formatter = number_of_items
fsharp_max_array_or_list_number_of_items = 4
fsharp_max_function_binding_width = 20
fsharp_align_function_signature_to_indentation = true
fsharp_multi_line_lambda_closing_newline = true
fsharp_bar_before_discriminated_union_declaration = true

[paket.*]
trim_trailing_whitespace = true
indent_size = 2

[*.paket.references]
trim_trailing_whitespace = true
indent_size = 2
